@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body { 
  font-size: 62.5%;
  color: #333;
  font-family: times;
}
a { color: #0aa8bf; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 {}
h2 {}
h3 {}

body > section {
  border: 1px dashed #ccc;
  max-width: 1000px;
  margin: 0 auto;
  width: auto;
}
header { }
header section.login { background: #0aa8bf; padding: 10px 3%; }
header section.login a { color: #fff; }
header section.banner { text-align: center; }
header section.banner img { max-width: 178px; width: 20%; }

nav { background: #ccc; }
nav ul { padding: 10px; }
nav ul li { float: left; margin: 0 8px; font-size: 1.3em; }


/* Sub menu */
aside ul li ul {
  padding: 5px 12px;
  display: none;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}